.app-name {
    border: 2px solid #d6d7d9;
    margin-right: 1rem;
    padding: 5px;
}

.app-header {
    margin-bottom: 3rem;
    border-bottom: 1px solid #aeb0b5;
    padding: 0 1rem;
    min-height: 5rem;
    background: #f1f1f1;
    position: relative;
    overflow: hidden;
}

.app-header .logo {
    padding-top: 1.3rem;
}

.app-header .logo-text {
    font-style: normal;
}

.app-header a,
.app-header a:link,
.app-header a:active,
.app-header a:visited,
.app-header a:hover {
    color: inherit;
    text-decoration: none;
}

.app-footer {
    padding: 1rem;
    color: gray;
    font-size: 1.3rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

.app-footer a,
.app-footer a:link,
.app-footer a:active,
.app-footer a:visited,
.app-footer a:hover {
    color: gray;
}

/* Undo USWDS styling */
legend {
    font-size: 1.7rem;
    font-weight: 500;
}

.usa-button-plain {
    border: 0;
    margin: 0;
    background: 0;
    padding: 0;
}

.usa-button-plain:focus {
    box-shadow: none;
}

.usa-button-plain:hover {
    box-shadow: none;
    background: 0;
}

.clause-label {
    display: inline;
    margin: 0;
}

.clause {
    position: relative;
    display: inline-block;
}

.clause textarea {
    height: 10rem;
    width: 46rem;
}

.add-selector {
    overflow: auto;
}

.add-selector select {
    float: left;
    margin-right: 1rem;
    width: auto;
}

.add-selector button {
    float: left;
}

.delete {
    display: none;
    /* position:absolute; */
    /* top: 0; */
    /* right: 10px; */
    /* bottom: 0; */
    /* width: 40px; */
    /* height: 40px; */
    /* margin: auto 0; */
    font-size: 25px;
    color: #cc9a9a;
    /* margin-bottom: 11px; */
    transition: color 0.2s ease-out;
    float: right;
}

.delete:hover {
    color: #af5b5e;

}

.delete:after {
    content: '\00d7';

}

.clause:hover .delete {
    display: block;

}

.add {
    color: #0071bc;
    font-size: 4.5rem;
}

.add:hover,
.add:focus {
    color: #205493;
}

.add:after {
    content: '+';

}

.login {
    max-width: 50rem;
    margin: 5rem auto;
}

.login form button {
    float: right;
    margin-right: 0;
}

.login form legend {
    display: none;
}

.login .seal {
    max-width: 20rem;
}

.login .title {
    margin-top: 1.8rem;
}

.login .title h1, .login .title h2 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
}

.add-sponsor {
    color: gray;
}

.add-sponsor:hover,
.add-sponsor:focus {
    color: #205493;
}

.add-sponsor:before {
    content: '+';
    margin-right: 5px;
}

.form-horizontal label {
    margin-top: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.document-preview-image-wrapper {
    overflow: auto;
    transition: all 0.3s;
}

img.document-preview-image {
    max-height: 75vh;
    border: 1px solid #ccc;
}

img.document-preview-image:hover {
    max-height: 100%;
    -moz-transfrom: scale(2);
    -ms-transfrom: scale(2);
    -webkit-transfrom: scale(2);
    transform: scale(2);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.bulk-clause-import [type=submit] {
    /* reset margins to normal button ones */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.button-link,
.button-link:focus,
.button-link:hover {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.button-link:focus,
.button-link:hover {
    color: gray;
}
