<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<style>

  /**
   * Base
   */

  body {
    padding: 46mm 0 0 0;

    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
  }

  div { margin: 0; padding: 0; }


  /**
   * Doc Info
   */

  .sponsors {
    position: absolute;
    top: 145px;
    left: 110px;

    width: 55%;
  }

  .sponsors .sponsors-content {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
  }

  .date {
    position: absolute;
    top: 130px;
    right: 0;

    width: 25%;
  }


  /**
   * Main
   */

  .main p {
    text-indent: 30px;
    text-align: justify;

    margin-bottom: 18px;

    page-break-inside: avoid;
  }

  .main p:first-child {
    text-indent: 90px;
  }

  .main p:first-child .clause {
    display: none;
  }

  .main .clause {
    text-transform: uppercase;
    font-style: oblique;
  }


  /**
   * Signatures
   */

  .signatures {
    width: 50%;

    padding-left: 50%;
    margin-right: 0;
    padding-right: 0;
    padding-top: 80px;
  }

  .signatures .signature {
    width: 100%;

    border-top: 1px solid black;

    padding-bottom: 80px;

    text-align: center;
    text-transform: uppercase;
  }
</style>

</head>
<body>
  <div class="sponsors">
    <p class="sponsors-content">
      <%= Enum.join(sponsors, ", ") %>
    </p>
  </div>
  <div class="date">
    <%= Timex.parse!(meeting_date, "%m/%d/%Y", :strftime) |> Timex.format!("%B %d, %Y", :strftime) %>
  </div>

  <div class="main">
    <%= for %{ "type" => type, "content" => content } <- clauses do %>
      <p>
        <span class="clause"><%= type %></span>, <%= content %>
      </p>
    <% end %>
  </div>

  <div class="signatures">
    <%= for sponsor <- sponsors do %>
      <div class="signature">
        <p><%= sponsor %></p>
      </div>
    <% end %>
  </div>

</body>
</html>
