<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<style>

  /**
   * Base
   */
  * { background: rgba(0,0,0,0); }

  body {
    padding: 183px 0 0 0;

    font-family: "Georgia";
    font-size: 10px;
  }

  div { margin: 0; padding: 0; }


  /**
   * Doc Info
   */

  .sponsors {
    position: absolute;
    top: 152px;
    left: 110px;

    width: 45%;
  }

  .sponsors .sponsors-content {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
  }

  .date {
    position: absolute;
    top: 140px;
    right: -15px;

    width: 30%;

    text-align: center;
  }


  /**
   * Main
   */

  .main p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.3em;

    margin-bottom: 18px;

    page-break-inside: avoid;
  }

  .main p:first-child {
    text-indent: 76px;
  }

  .main p:first-child .clause {
    display: none;
  }

  .main .clause {
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bold;
  }

  .main .clause-group .join-therefore {
    display: none;
  }

  <%
    first_resolved_index = Enum.find_index(@clauses, fn(c) -> String.downcase(c["type"]) == "be it resolved" end)
  %>

  .main .clause-group:nth-child(<%= first_resolved_index %>) .join-and,
  .main .clause-group:last-child .join-and {
    display: none;
  }

  .main .clause-group:nth-child(<%= first_resolved_index %>) .join-therefore {
    display: inline;
  }


  /**
   * Signatures
   */

  .signatures {
    width: 50%;

    padding-left: 50%;
    margin-right: 0;
    padding-right: 0;
    padding-top: 80px;

    page-break-inside: avoid;
  }

  .signatures .signature {
    width: 100%;

    border-top: 1px solid black;

    padding-bottom: 80px;

    text-align: center;
    text-transform: uppercase;
  }
</style>

</head>
<body>
  <div class="sponsors">
    <p class="sponsors-content">
    <%=
      grouped_sponsors = @sponsors
      |> Enum.map(fn (sponsor) ->
           Regex.run(~r/(.*), (.*) \((.*)\)/, sponsor, capture: :all_but_first)
         end)
      |> Enum.reduce(%{}, fn ([last, first, ward_or_office], grouped_sponsors) ->
           case Regex.match?(~r/^\d+$/, ward_or_office) do
             true -> Map.update(grouped_sponsors, "aldermen", ["#{first} #{last}"], fn (names) ->
               ["#{first} #{last}" | names] end)
             false -> Map.update(grouped_sponsors, String.downcase(ward_or_office), ["#{first} #{last}"], fn (names) ->
               ["#{first} #{last}" | names] end)
           end
         end)
      |> Enum.sort_by(fn ({group, _names}) -> group end)

      grouped_text = grouped_sponsors
      |> Enum.reduce([], fn ({group, names}, output) ->
           name_count = Enum.count(names)

           prefix = case group do
             "aldermen" when name_count == 1 -> "Alderman"
             "aldermen" when name_count > 1 -> "Aldermen"
             "mayor" -> "Mayor"
             "clerk" -> "City Clerk"
           end

           case name_count > 1 && Enum.count(grouped_sponsors) == 1 do
             true ->
               last_name = List.last(names)

               rest_of_names = names
               |> List.delete_at(-1)
               |> Enum.join(", ")

               formatted_names = "#{rest_of_names} and #{last_name}"

               output ++ ["#{prefix} #{formatted_names}"]
             false ->
               output ++ ["#{prefix} #{Enum.join(names, ", ")}"]
           end
         end)

       case Enum.count(grouped_text) do
         1 -> List.first(grouped_text)
         _ -> "#{grouped_text |> List.delete_at(-1) |> Enum.join(", ")} and #{List.last(grouped_text)}"
       end
    %>
    </p>
  </div>
  <div class="date">
    <%= Timex.parse!(@meeting_date, "%F", :strftime) |> Timex.format!("%B %d, %Y", :strftime) %>
  </div>

  <div class="main">
    <%= for %{ "type" => type, "content" => content } <- @clauses do %>
      <p class="clause-group">
        <span class="clause"><%= type %></span>, <%= content %><span class="join-and">; and</span><span class="join-therefore">; now, therefore</span>
      </p>
    <% end %>
  </div>

  <div class="signatures">
    <div class="signature">
      <p>Mayor</p>
    </div>
    <div class="signature">
      <p>City Clerk</p>
    </div>
  </div>

</body>
</html>
